name: Docker Build & Deploy

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CHART_REPO: runagent-robotics/chart

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Lấy commit hash của source code
      - name: Get commit hash
        id: get_commit_hash
        run: |
          echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
        
      # Cấu hình SSH key
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Checkout Helm chart repository
        uses: actions/checkout@v3
        with:
          repository: ${{ env.CHART_REPO }}
          ref: main
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          path: chart-repo

      - name: Update Helm chart values
        run: |
          cd chart-repo
          yq eval '.image.tag = "sha-${{ steps.get_commit_hash.outputs.COMMIT_HASH }}"' -i my-sonagent/values.yaml

      - name: Commit and push changes
        run: |
          cd chart-repo
          git config --global user.name "sonnhfit"
          git config --global user.email "sonnhfit@gmail.com"
          git add .
          git commit -m "chore: update my-sonagent image tag to ${{ steps.get_commit_hash.outputs.COMMIT_HASH }}"
          git push origin main